.button{
  cursor: pointer;
  transition: all ease-in-out 0.5s;
  &:hover{
    background-color: rgb(181, 181, 57);
    filter: drop-shadow(5px);
  }
}


.button__menu {
  background-color: #FF3E79;
  fill: #fff;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.read-more__button{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

@media (max-width: 769px) and (min-width: 530px) {
  .read-more__button{
    gap: 10px;
  }
}

@media (min-width: 769px) {
  .read-more__button{
    gap: 16px;
  }
}